.Search
  .Search__box
  .Search__wave
  .Search__title
    sakesearch
  .Search__comment
    あなたに合った一杯を
    = form_with(url: search_tweets_path, local: true, method: :get, class: "Search__comment__search-form") do |form|
      = form.text_field :keyword, placeholder: " Let's search", class: "Search__comment__search-input"
      = form.submit "Search", class: "Search__comment__search-btn"

.Content
  - @tweets.each do |tweet|
    .Content__post{style: "background-image: url(#{tweet.image});"}
      .Content__post__more
        = link_to '詳細', tweet_path(tweet.id), class: 'Content__post__more__list',method: :get
        - if user_signed_in? && current_user.id == tweet.user_id
          = link_to '削除', tweet_path(tweet.id), class: 'Content__post__more__list', method: :delete
          = link_to '編集', edit_tweet_path(tweet.id), class: 'Content__post__more__list',method: :get
      %p= tweet.tweetname
      %a{href: "/users/#{tweet.user.id}"}
        %span 
          投稿者
          = tweet.user.name