.Contents
  .Contents__btn
    - if user_signed_in? && current_user.id == @tweet.user_id
      = link_to '削除', tweet_path(@tweet.id), class: 'Contents__btn__1', method: :delete
      = link_to '編集', edit_tweet_path(@tweet.id), class: 'Contents__btn__2',method: :get
  .Contents__post-user{style: "background-image: url(#{@tweet.image});"}
  .Contents__tweetname
    = @tweet.tweetname
  .Contents__text{style: "white-space: pre-wrap;"}
    = @tweet.text
  .Contents__alc
    アルコール度数（％）：
    = @tweet.alc
  .Contents__url
    蔵のURL：
    = @tweet.url
  .Contents__tag
    Tag；
    - @tweet.tags.each do |tag|
      = tag.name
      %print ,
  .Contents__a
    %a.btn{href: "/"} 投稿一覧へ戻る
  .Contents__reviews
    - if current_user
      = form_with(model: [@tweet, @review], local: true, id: "new_comment") do |f|
        = f.text_area :comment, placeholder: "   コメントする", class: "Contents__reviews__comment-write"
        = f.submit "SEND", class: "Contents__reviews__submit-btn"
    - else
      .Contents__reviews__no-rogin === コメントの投稿には新規登録/ログインが必要です ===
    %h4 ＜コメント一覧＞
    .Contents__reviews__comments
      - @reviews.each do |review|
        %p.Contents__reviews__comments__1
          = link_to review.user.name, "/users/#{review.user_id}"
          = review.comment