.Content
  .Content__btn
    - if user_signed_in? && current_user.id == @tweet.user_id
      = link_to '削除', tweet_path(@tweet.id), class: 'Content__btn__1', method: :delete
      = link_to '編集', edit_tweet_path(@tweet.id), class: 'Content__btn__2',method: :get
  .Content__post-user{style: "background-image: url(#{@tweet.image});"}
  .Content__tweetname
    = @tweet.tweetname
  .Content__text
    = @tweet.text
  .Content__alc
    アルコール度数（％）：
    = @tweet.alc
  .Content__url
    蔵のURL：
    = @tweet.url
  .Content__tag
    Tag；
    - @tweet.tags.each do |tag|
      = tag.name
      %print ,
  .Content__a
    %a.btn{href: "/"} 投稿一覧へ戻る
  .Content__reviews
    - if current_user
      = form_with(model: [@tweet, @review], local: true) do |f|
        = f.text_area :comment, placeholder: "   コメントする", class: "Content__reviews__comment-write"
        = f.submit "SEND", class: "Content__reviews__submit-btn"
    - else
      .Content__reviews__no-rogin === コメントの投稿には新規登録/ログインが必要です ===
    %h4 ＜コメント一覧＞
    .Content__reviews__comments
      - @reviews.each do |review|
        %p.Content__reviews__comments__1
          %strong
            = link_to review.user.name, "/users/#{review.user_id}"
            ;
            = review.comment